.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 2px 16px 0px;
}
.header > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (max-width: 768px) {
  .header > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.header__gInan:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.aboutUsBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: linear-gradient(#22222299, #22222299),
    url("/plasmic/agency_website/images/linkedinSalesSolutions46Bom4LObsAUnsplashJpg.jpg") bottom 60% right 0px / cover no-repeat fixed;
  margin-bottom: 0px;
  align-self: flex-start;
  min-width: 0;
  padding: 177px 32px 179px;
}
@media (max-width: 768px) {
  .aboutUsBanner {
    padding-top: 61px;
    padding-bottom: 61px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__bAhwM {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bAhwM > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bAhwM > :global(.__wab_flex-container) > *,
.freeBox__bAhwM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bAhwM > :global(.__wab_flex-container) > picture > img,
.freeBox__bAhwM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1 {
  padding-top: 0px;
}
@media (max-width: 768px) {
  .h1 {
    font-size: 40px;
  }
}
.text__xti0X {
  position: relative;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  color: var(--token-HXz0g0oa_STH);
}
@media (max-width: 768px) {
  .text__xti0X {
    font-size: 18px;
  }
}
.ourTeamSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px 8px;
}
@media (max-width: 768px) {
  .ourTeamSection {
    padding-bottom: 21px;
    height: auto;
    margin: 0px;
  }
}
.columns {
  display: flex;
  position: relative;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  width: 1380px;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__lxUey {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 768px) {
  .column__lxUey {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.h2__lGvru {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 13px;
  padding-bottom: 13px;
  text-align: center;
  min-width: 0;
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.row1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 1117px;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.row1 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.row1 > :global(.__wab_flex-container) > *,
.row1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row1 > :global(.__wab_flex-container) > picture > img,
.row1 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 30px;
  margin-top: 30px;
}
.row1 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.row1 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.row1 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 768px) {
  .row1 {
    flex-direction: row;
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 768px) {
  .row1 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 0;
  }
}
@media (max-width: 768px) {
  .row1 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___9XWcW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__kA8Gm:global(.__wab_instance) {
  position: relative;
}
.h3__q59E1 {
  color: #ffffff;
}
.link__sfCtq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__er8KZ {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  height: 1em;
}
.link__cBy4H {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___1KD4Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  align-self: flex-start;
  height: 1em;
}
.link__pej3F {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__b33Al {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  height: 1em;
}
.column__sNBgh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__fsaiM:global(.__wab_instance) {
  position: relative;
}
.h3__vE0Ds {
  color: #ffffff;
}
.link__jg6Z5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__zVaf9 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  height: 1em;
}
.link__rZat4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__k5KNu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  align-self: flex-start;
  height: 1em;
}
.link__eyafA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__dQ8Lv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  height: 1em;
}
.column__wvX1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__f7FxG:global(.__wab_instance) {
  position: relative;
}
.h3__x2UGy {
  color: #ffffff;
}
.link__lQk3Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__dRw5D {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  height: 1em;
}
.link__akIpZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___0MwMp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  align-self: flex-start;
  height: 1em;
}
.link__lzwgt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__qLg5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  height: 1em;
}
.column__ufKel {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__f7Xv:global(.__wab_instance) {
  position: relative;
}
.h3__q2JCf {
  color: #ffffff;
}
.link__j6R8M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__uWb2D {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  height: 1em;
}
.link___2Mo56 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__nmbQx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  align-self: flex-start;
  height: 1em;
}
.link__gHuzh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__fedZw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  height: 1em;
}
.column__pEnbU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__h4VNs:global(.__wab_instance) {
  position: relative;
}
.h3__cjmE {
  color: #ffffff;
}
.link__kjpnd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__zWhwq {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  height: 1em;
}
.link__d6CI5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__sbrNi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  align-self: flex-start;
  height: 1em;
}
.link__uNXho {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___1HAya {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  height: 1em;
}
.column__s9HS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__os89X:global(.__wab_instance) {
  position: relative;
}
.h3__bAP8 {
  color: #ffffff;
}
.link__ipOwq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___6V74Q {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  height: 1em;
}
.link__huZsr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__onjT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  align-self: flex-start;
  height: 1em;
}
.link__xdrYt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__lcGn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HXz0g0oa_STH);
  height: 1em;
}
.freeBox__c3IMy {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #eeeeee;
  width: 100%;
  min-width: 0;
  padding: 0px 64px 68px;
}
@media (max-width: 768px) {
  .freeBox__c3IMy {
    width: 100%;
    min-width: 0;
    padding: 10px 32px 28px;
  }
}
.freeBox__jq34B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: center;
  width: 100%;
  max-width: 1380px;
  min-width: 0;
}
.freeBox__jq34B > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jq34B > :global(.__wab_flex-container) > *,
.freeBox__jq34B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jq34B > :global(.__wab_flex-container) > picture > img,
.freeBox__jq34B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (max-width: 768px) {
  .freeBox__jq34B {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .freeBox__jq34B > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 768px) {
  .freeBox__jq34B > :global(.__wab_flex-container) > *,
  .freeBox__jq34B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jq34B > :global(.__wab_flex-container) > picture > img,
  .freeBox__jq34B
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__ziY9E {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  box-shadow: none;
  align-self: flex-start;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 63px 24px 24px;
}
.freeBox__ziY9E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ziY9E > :global(.__wab_flex-container) > *,
.freeBox__ziY9E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ziY9E > :global(.__wab_flex-container) > picture > img,
.freeBox__ziY9E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__c7UQu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__c7UQu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__c7UQu > :global(.__wab_flex-container) > *,
.freeBox__c7UQu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c7UQu > :global(.__wab_flex-container) > picture > img,
.freeBox__c7UQu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__jfCna {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 18px;
  min-width: 0;
}
.text___2DMeR {
  align-self: flex-start;
  max-width: 807px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 100%;
  min-width: 0;
}
.freeBox__cCw7L {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__cCw7L > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__cCw7L > :global(.__wab_flex-container) > *,
.freeBox__cCw7L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cCw7L > :global(.__wab_flex-container) > picture > img,
.freeBox__cCw7L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.serviceRow {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 20px 0px 8px;
}
.serviceRow > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.serviceRow > :global(.__wab_flex-container) > *,
.serviceRow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.serviceRow > :global(.__wab_flex-container) > picture > img,
.serviceRow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 30px;
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 768px) {
  .serviceRow {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .serviceRow > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (max-width: 768px) {
  .serviceRow > :global(.__wab_flex-container) > *,
  .serviceRow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .serviceRow > :global(.__wab_flex-container) > picture > img,
  .serviceRow
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .serviceRow > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ryfz4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue___42Vxs:global(.__wab_instance) {
  position: relative;
}
.column__ifad7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__zpIvc:global(.__wab_instance) {
  position: relative;
}
.column__gZBC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__ycbVp:global(.__wab_instance) {
  position: relative;
}
.column__o3C4S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__zdQ39:global(.__wab_instance) {
  position: relative;
}
.column___8Hoal {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__cjuh3:global(.__wab_instance) {
  position: relative;
}
.column___0HFp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__s6L3K:global(.__wab_instance) {
  position: relative;
}
.freeBox__uBeO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.homeFooterTop:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 768px) {
  .homeFooterTop:global(.__wab_instance) {
    position: relative;
  }
}
.footerMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
